/*
    Folha de estilo do site One Page HTML5 e CSS3
    @author Edilson ricardo
    edilsonricardo.co.mz
    */

/* Toda Importacao é feita antes de iniciaro o código CSS */

/* Importação Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS RESET*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    /* 1em é o tamanho normal de fonte, mas que pode ser redimensionado de forma dinamica sem distorção ou quebra de layout, equivale a 16px */
    font-size: 1em;

}

/* Layout */
.Container {
    /* margin com valor 0 centraliza conteúdos na tela  */
    margin: 0 auto;
    /* background-color: #c00000; */
}

/* CLASSE FLEXBOX */
.Flex {
    /* A linha abaixo torna o display flexível */
    display: flex;
    justify-content: space-between;

}

.Flex2{
    display: flex;
    align-items: center;
}

.Botao /* Poderia tambem ter usado "main a", nao inves da classe "Botao"*/{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    /* Negrito */
    font-weight: 700;
    background-color: #c00000;
    /* espacamento para cima e baixo (10px) e esquerda/direita (40px) */
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;

}


/* Botao para retornar ao topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>> */

/* Cabecalho */
header {
    height: 60px;
    /* position: fixed; */
}

#logo img {
    width: 128px;
    height: 128px;
}

/* Alteracao de caracteristicas da checkbox */
#check {
    display: none;
}

label {
    font-size: 3em;
    /* padding-right: 15px; */
    /* Fixando o menu na mesma posicao */
    position: fixed;
    top: 5px;
    right: 15px;
    /* Baixando a opacidade do menu */
    color: rgba(0, 0,0,0.5);
}

nav ul {
    /* Esta linha abaixo remove os bullets */
    list-style: none;
    background-color: #343538;
    /* 100vh define a altura do menu de acordo com o tamanho da tela */
    height: 100vh;
    /* A linha abaixo fixa todos elementos no lado/posicao especifica */
    position: fixed;
    top: 60px;
    /* A linha abaixo esconde o menu */
    right: -100%;
    /* ESTE COMANDO FAZ COM QUE O MENU OCUPE TODO ECRA -> width: 100%; */
    width: 100%;
    transition: all 0.5s;
}

/* Ao clicar no icone (abrir menu), o sinal til troca propriedade ul */
#check:checked~ul {
    /* Comando para mostrar o menu */
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: solid #a9a9a9;

}

nav ul li a {
    /* A linha abaixo remove o tracejado */
    text-decoration: none;
    /* A linha abaixo estabelece as cores do texto */
    color: #fff;
}

main {
    /* Determina a 75% do tamanho da tela independentemente do dispositivo */
    height: 75vh;
    /* Insercao de background */
    background: url(img/banner.jpg);
    /* Ajustar imagem de background ao tamanho da tela do dispositivo */
    background-size: cover;
    /* Centralizar imagem de Background  */
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
}

main h2{
    font-size: 1em ;
    /* Arranjos de posicionamento
    20px -> Superior, 0px -> Direita , 50px ->  Inferior , 0px --> Esquerda*/
    margin: 20px 0px 50px 0px;
}

/* Sobre */
#sobre{
    /* A linha abaixo coloca espacamento superior/inferior de 50px e esquerda/direita de 0px */
    padding: 50px 0px;
    background: url(img/background.png);
    /* Ajustando a imagem do background ao container */
    background-size: cover;
    /* Centralizar imagem de Background  */
    background-position: center;


}
#destaqueSobre{
    /*  A linha abaixo faz com que a imagem de background nao seja mostrada */
    display: none;
}

#textoSobre{
    color: #fff;
     /* A linha abaixo coloca espacamento superior/inferior de 0px e esquerda/direita de 10px */
    padding: 0px 10px;
}

#textoSobre h2{
    margin-bottom: 10px;
}

.topicosSobre{
    margin-top: 10px;
}

.topicosSobre img{
    margin-right: 10px;
}

/* Smartphone Landscape */
@media (min-width: 576px) {

    /* Layout */
    .Container {
        max-width: 540px;
    }

    /* Destaque */
    main h1, main h2{
        /* Colocacao de sombras */
        text-shadow: #000000 0.05em 0.05em 0.05em;
    }
}




/* Tablet Portrait*/
@media (min-width: 768px) {

    /* Layout */
    .Container {
        max-width: 720px;
    }
    /* Destaque */
    main{
        /* 45% do tamanho total do dispositivo sera o espaco que o banner ira ocupar */
        height: 45vh;
    }
    main h1{
        font-size: 5.5em;
    }
    main h2{
        font-size: 2em;
    }


}

/* Tablet landscape*/
@media (min-width: 992px) {

    /* Layout */
    .Container {
        max-width: 960px;
    }

    main {
        height: 70vh;
    }

}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /* Layout */
    .Container {
        max-width: 1140px;
    }

    /* Estas sao as definicoes de cabecalho que serao usadas quando o site for aberto num ecra de PC */

    /* Cabecalho */
    header {
        height: 120px;
    }

    #logo img {
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }

    label {
        display: none;
    }

    nav ul {
        /* Ao colocar esta linha abaixo, ignora o que foi definido para top e right para nav ul */
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 50px;
    }

    nav ul li {
        /* Coloca os itens do menu horizontalmente e a esquerda */
        float: left;

    }

    nav ul li a {
        color: #000000;
    }

    /* Este comando coloca uma cor diferente sempre que o mouse estiver sobre o link de menu */
    nav ul li a:hover {
        color: #f00;
    }

    /* Sobre */
    #destaqueSobre{
        /* A linha abaixo faz com que o browser mostre a imagem que foi escondida em #destaqueSobre, MOSTRA SOMENTE PARA PC's ou Ecras grandes */
        display: inline;
    }
    /* Efeito de rolagem parallax - Quando uma imagem fica fixa no background ao rolar a tela
                  ESTE EFEITO FOI APENAS APLICADO A SECCAO SOBRE */
    #sobre{
        background-attachment: fixed;
    }

    #destaqueSobre img {
        /* Colocando a imagem redonda */
        border-radius: 50%;
        margin-right: 50px ;
    }
}