/*
    Folha de estilo do site One Page HTML5 e CSS3
    @author Edilson ricardo
    edilsonricardo.co.mz
    */

    /* Toda Importacao é feita antes de iniciaro o código CSS */

    /* Importação Google Fonts */
     @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); 
/* CSS RESET*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}


 body{
    font-family:'Open Sans', sans-serif;
    /* 1em é o tamanho normal de fonte, mas que pode ser redimensionado de forma dinamica sem distorção ou quebra de layout, equivale a 16px */
    font-size: 1em; 

 }
 /* Layout */
 .Container{
    /* margin com valor 0 centraliza conteúdos na tela  */
    margin: 0 auto; 
    background-color: bisque;
 }

/* Smartphone Landscape*/
@media (min-width: 576px){
    body{
        background-color:  #0ff;;
    }

    /* Layout */
    .Container{
        max-width: 540px;
    }
}

/* Tablet Portrait*/
@media (min-width: 768px){
    body{
        background-color: #ff0;
    }

     /* Layout */
     .Container{
        max-width: 720px;
    }
}

/* Tablet landccape*/
@media (min-width: 992px){
    body{
        background-color: #f60;
    }

     /* Layout */
     .Container{
        max-width: 960px;
    }
}

/* PC */
@media (min-width: 1200px){
    body{
        background-color: #f00;
    }

     /* Layout */
     .Container{
        max-width: 1140px;
    }
}